html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f0f0;
    overflow: hidden
}

.panel-paging {
    background-color: rgba(229, 229, 229, 0.99);
    height: 50px;
    min-height: 50px;
    width: 100%;
}

.paging {
    width: 120px;
    align-items: center;
    margin: auto;
    padding: 15px;
    height: 20px;
    cursor: default;
}

.paging > * {
    display: inline-block;
    align-items: center;
    margin: auto 4px auto auto;
    cursor: pointer;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 100%;
    vertical-align: middle;
}

.list-paging {
    color: #5BC0DE;
    background: #5BC0DE;
    /* background-color: #1863E6;*/
}

.list-paging:hover {
    color: #f0f0f0;
    background:  #F0AD4E;
    transition: 0.7s;
}

.image-tube {
    width: 320px;
    height: 300px;
}

.list-paging-active {
    color: #D9534F;
    background: #D9534F;
}

.list-paging-active:hover {
    color: #f0f0f0;
    transition: 0.7s;
}