
.body-form {
    margin-top: 10%;
}

.body-form-top {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    min-height: 60px;
    min-width: 400px;
}

.search-top {
    margin: 10px auto 0 auto;
}

.inscription-search {
    padding: 10px;
    display: inline-block;
}

.inscription-tube {
    color: white;
    padding: 10px;
    background-color: red;
    border-radius: 30px;
    display: inline-block;
}

.search > * {
    font-size: 1.7rem;
    height: 45px;
}

.search-top > * {
    font-size: 1.4rem;
    height: 40px;
}

@media screen and (min-width: 500px ) {

    .logo {
        margin: auto;
        font-size: 3.5rem;
        display: block;
        min-width: 400px;
        max-width: 400px;
    }

    .logo-top {
        display: none;
    }

    .search {
        height: 50px;
        margin: auto;
        display: block;
        min-width: 500px;
        max-width: 500px;
    }

    .text-search {
        width: 350px;
    }

    .button-search {
        cursor: pointer;
        outline: none;
        width: auto;
        margin-left: 1px;
        border: 2px solid #c6c6c6;
        background-color: #f0f0f0;
    }

    .button-search:hover {
        background-color: rgba(229, 229, 229, 0.99);
    }

    .button-search:active {
        background-color: #cfcfcf;
    }
}

@media screen and ( max-width: 500px) {
    .body-form {
        margin-top: 10%;
    }

    .logo {
        margin: auto;
        font-size: 2rem;
        display: block;
        min-width: 250px;
        max-width: 250px;
    }

    .logo-top {
        display: none;
    }

    .search-top {
        margin: 10px auto 0 auto;
        display: flex;
    }

    .search {
        height: 50px;
        margin: auto;
        margin-top: 10px;
        display: block;
        min-width: 300px;
        max-width: 300px;
    }

    .text-search {
        width: 240px;
    }

    .button-search {
        display: none;
    }
}