.swipe-page-animating {
    transition: transform 200ms linear;
}

.swipe-page-left {

    transform: translate3d(-100%, 0, 0) ;
}

.swipe-page-center {
    transform: translate3d(0, 0, 0);
}

.swipe-page-right {
    transform: translate3d(100%, 0, 0) ;
}