.swipe-section {
    position: relative;
    overflow: hidden;
    height: 70%;
}

.video-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 0;
    font-family: "Arial Black", Arial, sans-serif;
    position: absolute;
    width: 100%;
}

.video-section-left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Arial Black", Arial, sans-serif;
    width: 100%;
    position: absolute;
    right: 101%;
    top: 0;
}

.video-section-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Arial Black", Arial, sans-serif;
    width: 100%;
    position: absolute;
    left: 101%;
    top: 0;
}

.video-item {
    width: 280px;
    vertical-align: middle;
    border: 5px solid  rgba(229, 229, 229, 0.99);
    border-radius: 10px;
    padding: 5px;
    min-height: 400px;
    max-height: 400px;
    min-width: 280px;
    max-width: 280px;
}

.likes-and-views {
    display: flex;
    color: #5BC0DE;
    font-weight: lighter;
    justify-content: space-between;
    align-items: center;
}

.video-image {
    width: 260px;
    margin-left: 10px;
    height: 180px;
}

.video-tittle {
    color: #D9534F;
    text-align: center;
    margin-bottom: 10px;
}

.video-info {
    overflow: hidden;
    word-break: normal;
    white-space: pre-line;
    height: 150px;
    font-size: 0.9rem;
    font-family: Arial;
}